<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login-page.component.css">
    </head>
    <body>
        
      <form action="/action_page.php" class="container">
        <h1>Bienvenu</h1>
    
        <label for="email"><b>Pseudo</b></label>
        <input type="text" placeholder="Entrer Pseudo" name="email" required>
    
        <label for="psw"><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer mot de passe" name="psw" required>
    
        <button type="submit" class="btn">Connexion</button>
      </form>
    
      
      
    </body>
    </html>