h1{
    color: rgb(235, 14, 14);
}

body {
    background-image: url('../../assets/profile.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
    min-height: 91.5vh;
  }
*{font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}