.navbar {
    overflow: hidden;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 14px;
    
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(90, 85, 85);
    min-width: 160px;
    
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(90, 82, 82);
  }
  
  .show {
    display: block;
  }
  
  
  /*table*/
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(82, 76, 76);
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  body {
    height: 650 px; 
    background : url('../../assets/feuille1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 91.5vh;
  }
*{font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}